{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-11">                 
            <div class="card-body">
                <p class="text-primary">
                    <strong>Welcome to medbay!<br>
                        Here we provide best care for our patients in all 10 hosptials we have.<br>
                        <div class="col-lg-4 mb-3">
                            <ul class="list-icons">
                                <li><a href="javascript:void(0)"><span class="align-middle mr-2"><i class="fa fa-check text-info"></i></span> We take the best care to our  patients</a></li>
                                <li><a href="javascript:void(0)"><span class="align-middle mr-2"><i class="fa fa-check text-info"></i></span>We provide an easy communication between the patient and our staff </a></li>
                            </ul>
                        </div>
                    </strong>   
                </p>
            </div>
        </div> 
    </div> 
    <div class="col-lg-11">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Our Hospitals</h4>
            </div>
            <div class="card-body pb-1">
                <div id="lightgallery" class="row">
                    <a href="{{ url_for('static', filename='images/3_Joseph-Brant-Hospital.png') }}" data-exthumbimage="images/big/img1.jpg" data-src="images/big/img1.jpg" class="col-lg-3 col-md-6 mb-4">
                        <img src="{{ url_for('static', filename='images/3_Joseph-Brant-Hospital.png') }}"  style="width:100%;">
                    </a>
                    <a href="{{ url_for('static', filename='images/150420_7v8ix_rci-m-newvr_sn635.png') }}" data-exthumbimage="images/big/img2.jpg" data-src="images/big/img2.jpg" class="col-lg-3 col-md-6 mb-4">
                        <img src="{{ url_for('static', filename='images/150420_7v8ix_rci-m-newvr_sn635.png') }}" style="width:100%;" />
                    </a>
                    <a href="{{ url_for('static', filename='images/180629-bbgi-680x435.png') }}" data-exthumbimage="images/big/img1.jpg" data-src="images/big/img1.jpg" class="col-lg-3 col-md-6 mb-4">
                        <img src="{{ url_for('static', filename='images/180629-bbgi-680x435.png') }}"  style="width:100%;">
                    </a>
                    <a href="{{ url_for('static', filename='images/HospitalFeature35NW_Super_Portrait.png') }}" data-exthumbimage="images/big/img2.jpg" data-src="images/big/img2.jpg" class="col-lg-3 col-md-6 mb-4">
                        <img src="{{ url_for('static', filename='images/HospitalFeature35NW_Super_Portrait.png') }}" style="width:100%;" />
                    </a>
                    <a href="{{ url_for('static', filename='images/img-top-hospitals.png') }}" data-exthumbimage="images/big/img1.jpg" data-src="images/big/img1.jpg" class="col-lg-3 col-md-6 mb-4">
                        <img src="{{ url_for('static', filename='images/img-top-hospitals.png') }}"  style="width:100%;">
                    </a>
                    <a href="{{ url_for('static', filename='images/screen_shot_2020-01-07_at_10.29.08_am_p3426440.png') }}" data-exthumbimage="images/big/img2.jpg" data-src="images/big/img2.jpg" class="col-lg-3 col-md-6 mb-4">
                        <img src="{{ url_for('static', filename='images/screen_shot_2020-01-07_at_10.29.08_am_p3426440.png') }}" style="width:100%;" />
                    </a>
                    <a href="{{ url_for('static', filename='images/toronto_general_hospital.png') }}" data-exthumbimage="images/big/img1.jpg" data-src="images/big/img1.jpg" class="col-lg-3 col-md-6 mb-4">
                        <img src="{{ url_for('static', filename='images/toronto_general_hospital.png') }}"  style="width:100%;">
                    </a>
                    <a href="{{ url_for('static', filename='images/EUeoMPTXkAA36Yq.jpg') }}" data-exthumbimage="images/big/img2.jpg" data-src="images/big/img2.jpg" class="col-lg-3 col-md-6 mb-4">
                        <img src="{{ url_for('static', filename='images/EUeoMPTXkAA36Yq.jpg') }}" style="width:100%;" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-11">
        <div class="card">
            <div class="card-header d-block">
                <h4 class="card-title">Our services</h4>
            </div>
            <div class="card-body">
                <div id="accordion-one" class="accordion accordion-primary">
                    <div class="accordion__item">
                        <div class="accordion__header rounded-lg" data-toggle="collapse" data-target="#default_collapseOne">
                            <span class="accordion__header--text">orthopaedics</span>
                            <span class="accordion__header--indicator"></span>
                        </div>
                        <div id="default_collapseOne" class="collapse accordion__body show" data-parent="#accordion-one">
                            <div class="accordion__body--text">
                                Section Of Orthopedics Is One Of The Most Distinguished Educational Sections In Our Hospitals. It Provides High-Quality Medical Care
                            </div>
                        </div>
                    </div>
                    <div class="accordion__item">
                        <div class="accordion__header collapsed rounded-lg" data-toggle="collapse" data-target="#default_collapseTwo">
                            <span class="accordion__header--text">Kidney disease</span>
                            <span class="accordion__header--indicator"></span>
                        </div>
                        <div id="default_collapseTwo" class="collapse accordion__body" data-parent="#accordion-one">
                            <div class="accordion__body--text">
                                Nephrology Is One Of The Different Subspecialties In The Section Of Internal Medicine in Our Hospitals.
                            </div>
                        </div>
                    </div>
                    <div class="accordion__item">
                        <div class="accordion__header collapsed rounded-lg" data-toggle="collapse" data-target="#default_collapseThree">
                            <span class="accordion__header--text">Others</span>
                            <span class="accordion__header--indicator"></span>
                        </div>
                        <div id="default_collapseThree" class="collapse accordion__body" data-parent="#accordion-one">
                            <div class="accordion__body--text">
                                Other services that is included in our Hospitals:<br><br>
                                    -Infectious Diseases<br>
                                    -Radiology<br>
                                    -Maxillofacial Surgery<br>
                                    -Vascular surgery<br>
                                    -ENT Surgery<br>
                                    -Laboratory<br>
                                    
                                    -Plastic & Reconstructive Surgery Section<br>
                                    -Section Of Pulmonary Medicine & Respiratory Therapy<br>
                                    -Endoscopy<br>
                                    -Emergency
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <div class="col-xl-9">
            <div class="card text-white bg-primary">
                <div class="card-header">
                    <h5 class="card-title text-white">About Us!</h5>
                </div>
                <div class="card-body mb-0">
                    <p class="card-text">Click on the button below to Know more About us.</p><a href="/about_us" class="btn bg-white text-secondary btn-card">Click me</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}