{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
    <div class="col-12">
        <div class="card">
            <div class="card-header d-block">
                <h4 class="card-title">Our services</h4>
                
            </div>
            <div class="card-body">
                <!-- Default accordion -->
                <div id="accordion-one" class="accordion accordion-primary">
                    <div class="accordion__item">
                        <div class="accordion__header collapsed rounded-lg" data-toggle="collapse" data-target="#default_collapseOne">
                            <span class="accordion__header--text"> orthopaedics</span>
                            <span class="accordion__header--indicator"></span>
                        </div>
                        <div id="default_collapseOne" class="collapse accordion__body" data-parent="#accordion-one">
                            <div class="accordion__body--text">
                                Section Of Orthopedics Is One Of The Most Distinguished Educational Sections In Our Hospitals. It Provides High-Quality Medical Care
                            </div>
                        </div>
                    </div>
                    
                    <div class="accordion__item">
                        <div class="accordion__header collapsed rounded-lg" data-toggle="collapse" data-target="#default_collapseTwo">
                            <span class="accordion__header--text">Kidney disease</span>
                            <span class="accordion__header--indicator"></span>
                        </div>
                        <div id="default_collapseTwo" class="collapse accordion__body" data-parent="#accordion-one">
                            <div class="accordion__body--text">
                                Nephrology Is One Of The Different Subspecialties In The Section Of Internal Medicine in Our Hospitals.
                            </div>
                        </div>
                    </div>
                    <div class="accordion__item">
                        <div class="accordion__header collapsed rounded-lg" data-toggle="collapse" data-target="#default_collapseThree">
                            <span class="accordion__header--text">gastroenterology and hepatology</span>
                            <span class="accordion__header--indicator"></span>
                        </div>
                        <div id="default_collapseThree" class="collapse accordion__body" data-parent="#accordion-one">
                            <div class="accordion__body--text">
                                Our Hospitals have a distinguished Gastroenterology & Hepatology Section, which offers expert diagnosis and medical treatment for patients with disorders of the esophagus, liver, gallbladder, stomach, pancreas, small intestine and colon.
                            </div>
                        </div>
                    </div>
                    <div class="accordion__item">
                        <div class="accordion__header collapsed rounded-lg" data-toggle="collapse" data-target="#default_collapseFour">
                            <span class="accordion__header--text">hematology and oncology </span>
                            <span class="accordion__header--indicator"></span>
                        </div>
                        <div id="default_collapseFour" class="collapse accordion__body" data-parent="#accordion-one">
                            <div class="accordion__body--text">
                                The Section Of Hematology & Medical Oncology in Our Hospitals Is Comprised Of Physicians, Nurses, Clinicians Pharmacists And Other Healthcare Professionals Specializing In The Diagnosis And Treatment Of Patients With Cancers Or Disorders</div>
                        </div>
                    </div>
                    <div class="accordion__item">
                        <div class="accordion__header collapsed rounded-lg" data-toggle="collapse" data-target="#default_collapseFive">
                            <span class="accordion__header--text">obstetrics and gynecology</span>
                            <span class="accordion__header--indicator"></span>
                        </div>
                        <div id="default_collapseFive" class="collapse accordion__body" data-parent="#accordion-one">
                            <div class="accordion__body--text">
                                Gynecology And Obstetrics Section Is Considered One Of The Leading Departments In Our Hospitals, Due To Its Exclusiveness That Makes It More Privileged Than The Other Medical Departments.</div>
                        </div>
                    </div>
                    <div class="accordion__item">
                        <div class="accordion__header collapsed rounded-lg" data-toggle="collapse" data-target="#default_collapseSix">
                            <span class="accordion__header--text">neurological diseases</span>
                            <span class="accordion__header--indicator"></span>
                        </div>
                        <div id="default_collapseSix" class="collapse accordion__body" data-parent="#accordion-one">
                            <div class="accordion__body--text">
                                The Section Of Neurology in Our Hospital Offers Comprehensive Medical Care For A Broad Spectrum Of Neurological Conditions.</div>
                        </div>
                    </div>
                    <div class="accordion__item">
                        <div class="accordion__header collapsed rounded-lg" data-toggle="collapse" data-target="#default_collapseSeven">
                            <span class="accordion__header--text">ophthalmology</span>
                            <span class="accordion__header--indicator"></span>
                        </div>
                        <div id="default_collapseSeven" class="collapse accordion__body" data-parent="#accordion-one">
                            <div class="accordion__body--text">
                                The Ophthalmology Unit In Our Hospitals Is Specialized In Treating All Ophthalmic Diseases That Can Be Treated Medically By A Constellation Of Consultant Doctors Who Specialize In The Treatment Of Various Ophthalmic Diseases.
                            </div>
                        </div>
                    </div>
                    <div class="accordion__item">
                        <div class="accordion__header collapsed rounded-lg" data-toggle="collapse" data-target="#default_collapseEight">
                            <span class="accordion__header--text">cardiovascular disease</span>
                            <span class="accordion__header--indicator"></span>
                        </div>
                        <div id="default_collapseEight" class="collapse accordion__body" data-parent="#accordion-one">
                            <div class="accordion__body--text">
                                The Cardiology Center In Our Hospitals Is One Of The Leading Centers In Jordan And Middle East By Providing Comprehensive Health Care For Patients.</div>
                        </div>
                    </div>
                    

                    <div class="accordion__item">
                        <div class="accordion__header collapsed rounded-lg" data-toggle="collapse" data-target="#default_collapseNine">
                            <span class="accordion__header--text">Others</span>
                            <span class="accordion__header--indicator"></span>
                        </div>
                        <div id="default_collapseNine" class="collapse accordion__body" data-parent="#accordion-one">
                            <div class="accordion__body--text">
                                Other services that is included in our Hospitals:<br><br>
                                    -Infectious Diseases<br>
                                    -Radiology<br>
                                    -Maxillofacial Surgery<br>
                                    -Vascular surgery<br>
                                    -ENT Surgery<br>
                                    -Laboratory<br>
                                    
                                    -Plastic & Reconstructive Surgery Section<br>
                                    -Section Of Pulmonary Medicine & Respiratory Therapy<br>
                                    -Endoscopy<br>
                                    -Emergency
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card text-white bg-primary">
            <div class="card-header">
                <h5 class="card-title text-white">Who are we!</h5>
            </div>
            <div class="card-body mb-0">
                <p class="card-text">to know more About us click on the button below</p><a href="/about_us" class="btn bg-white text-primary btn-card">Click me</a>
            </div>
            
        </div>
    </div>
{% endblock %}