{% extends 'base.html' %}
{% block title %}Hospitals{% endblock %}
{% block body %}
    {% if user.is_admin(): %}
        <div class="form-head d-flex mb-3  mb-lg-5   align-items-start">
            <a href="javascript:void(0)" class="btn btn-danger" data-toggle="modal" data-target="#addhospital">+ Hospital</a>
        </div>
        <div class="modal fade" id="addhospital">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Hospital</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method='POST'>
                            <div class="form-group">
                                <input type="hidden" name="form_no" value="1">
                                <label class="text-black font-w500">Hospital Name</label>
                                <input type="text" class="form-control" id='name' name='name' required >
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">CREATE</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-xl-12">
                <div class="widget-media best-doctor pt-4">
                    <div class="timeline row">
                        {% for hospital in hospitals: %}
                            <div class="col-lg-6">
                                <div class="timeline-panel bg-white p-4 mb-4">
                                    <div class="media-body">
                                        <a href="#"><h4 class="mb-2">{{hospital}}</h4></a>
                                    </div>
                                    <div class="d-flex">
                                        <a href="#" title="Remove" class="btn btn-danger shadow btn-xs sharp mr-1" data-toggle="modal" data-target="#delete{{hospital.id}}" ><i class="fa fa-trash"></i></a>
                                        <div class="modal fade" id="delete{{hospital.id}}">
                                            <div class="modal-dialog" role="document">
                                                <form method='POST'>
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Remove Hospital</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                        <input type="hidden" name="form_no" value="2">
                                                        <input type="hidden" name="hospital" value="{{hospital.id}}"></input>
                                                        Are you sure you want to remove this hospital?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-primary">Remove</button>
                                                            <button type="button" data-dismiss="modal" class="btn btn-light">Cancel</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}