{% extends 'base.html' %}
{% block title %}Hospitals{% endblock %}
{% block body %}
    <div class="form-head d-flex mb-3  mb-lg-5   align-items-start">
        <a href="javascript:void(0)" class="btn btn-danger" data-toggle="modal" data-target="#addDoctorModal">+ Hospital</a>
    </div>
    <div class="modal fade" id="addDoctorModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Hospital</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method='POST'>
                        <div class="form-group">
                            <label class="text-black font-w500">Hospital Name</label>
                            <input type="text" class="form-control" id='name' name='name' required >
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">CREATE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xl-12">
            <div id="accordion-one" class="accordion doctor-list ">
                {% for hospital in hospitals: %}
                    <div class="accordion__item">
                        <div class="accordion__header rounded-lg" data-toggle="collapse" data-target="#default_collapseOne">
                            <span class="form-group">{{hospital.name}}</span>
                            <span class="accordion__header-line flex-grow-1"></span>
                            <span class="accordion__header--indicator style_two"></span>
                        </div>
                        <div id="default_collapseOne" class="collapse accordion__body show" data-parent="#accordion-one">
                            <div class="widget-media best-doctor pt-4">
                                <div class="timeline row">
                                    {% for department in departments: %}
                                        {% if department.hospital == hospital.id%}
                                            <div class="col-lg-6">
                                                <div class="timeline-panel bg-white p-4 mb-4">
                                                    <div class="media-body">
                                                        <a href="doctors.html"><h4 class="mb-2">{{department}}</h4></a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}	
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}