{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-body">
            <div class="default-tab">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#information"><i class="la la-phone mr-2"></i>Information</a>
                    </li>
                    {% if user.is_patient() or user.is_medical_staff(): %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#history"><i class="la la-user mr-2"></i>History</a>
                    </li>
                    {% endif %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="information">
                        <div class="pt-4">
                            <h4>Presonal Information</h4>
                            <p>Name: {{user.first_name + ' '+ user.last_name}}</p>
                            <p>Age: {{user.age()}}</p>
                            <p>Phone Number: {{user.phone_no}}</p>
                            <p>Email: {{user.email}}
                                {% if not user.confirmed: %}
                                    <a href="/confirm email"><button class="btn btn-primary">Confirm Email</button></a>
                                {% endif %}
                            </p>
                            <a href="/edit_profile">                            
                                <button class="btn btn-primary">Edit</button>
                            </a>
                        </div>
                    </div>
                    {% if user.is_patient() or user.is_medical_staff(): %}
                        <div class="tab-pane fade" id="history" role="tabpanel">
                            <div class="pt-4">
                                <h4>Appointment History</h4>
                            </div>
                            <div class="card-body">
                                <div id="accordion-one" class="accordion accordion-primary">                          
                                    {% for (appointment,hospital,department,usr,diagnoses,lab_results) in information: %}
                                        {% if appointment.appointment_date_time < today: %}
                                            <div class="accordion__item">
                                                <div class="accordion__header collapsed rounded-lg" data-toggle="collapse" data-target="#default_collapse{{loop.index}}">
                                                    <span class="accordion__header--text">Appointment {{appointment.appointment_date_time.day}}/{{appointment.appointment_date_time.month}}/{{appointment.appointment_date_time.year}}</span>
                                                    <span class="accordion__header--indicator"></span>
                                                </div>
                                                <div id="default_collapse{{loop.index}}" class="collapse accordion__body" data-parent="#accordion-one">
                                                    <div class="accordion__body--text">
                                                        <div class="pt-4">
                                                            {% if user.is_patient(): %}
                                                                <p>Doctor: {{usr.first_name + ' '+ usr.last_name}}</p>
                                                            {% elif user.is_medical_staff(): %}
                                                                <p>Patient: {{usr.first_name + ' '+ usr.last_name}}</p>                                                   
                                                            {% endif %}
                                                            <p>Hospital: {{hospital}}</p>
                                                            <p>Department: {{department}}</p>
                                                            {% set days = ("Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday") %}
                                                            <p>Appointment Day: {{days[appointment.appointment_date_time.weekday()]}}</p>
                                                            <p>Appointment Time: {{appointment.appointment_date_time.hour}}:{{appointment.appointment_date_time.minute}}</p>
                                                            <p>Diagnoses:
                                                                {% if not diagnoses: %}
                                                                No diagnoses
                                                                {% endif %}
                                                                {% for diagnosis in diagnoses: %}
                                                                    <a href="download/{{diagnosis.path}}" target="blank"><button class='btn btn-default'>Download{{loop.index}}</button></a>
                                                                {% endfor %}
                                                            </p>
                                                            <p>Lab Results: 
                                                                {% if not lab_results: %}
                                                                    No Lab Results
                                                                {% endif %}
                                                                {% for lab_result in lab_results: %}
                                                                    <a href="download/{{lab_result.path}}" target="blank"><button class='btn btn-default'>Download{{loop.index}}</button></a>
                                                                {% endfor %}
                                                            </p>                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <p>No previous appointments</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}