{% extends 'base.html' %}
{% block title %}Staff Details{% endblock %}
{% block body %}
    {% if user.is_patient(): %}
        <div class="form-head d-flex mb-3 mb-lg-5 align-items-start">
            <a href="javascript:void(0)" class="btn btn-primary" data-toggle="modal" data-target="#NewAppointment">+ New Appointment</a>
        </div>
        <div class="modal fade" id="NewAppointment">
            <div class="modal-dialog" role="document">
                <form method='POST'>
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">New Appointment</h5>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="hidden" name="medical_staff_id" id="medical_staff_id" value="{{staff.id}}">
                                <label class="text-black font-w500">Appointment Date</label>
                                <input type="date" name="appointment_date" id="appointment_date" max="{{max_appointment_date.strftime("%Y-%m-%d")}}" min="{{today.strftime("%Y-%m-%d")}}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="text-black font-w500">Appointment Time</label>
                                <select name="appointment_time" id="appointment_time" class="form-control" disabled>
                                    <option>Select a Date First</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Create Appointment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    <div class="card">
        <div class="card-body">
            <div class="default-tab">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#information"><i class="la la-phone mr-2"></i>Information</a>
                    </li>
                    {% if (user.is_management_staff() and staff.is_medical_staff()) or (user.is_medical_staff() and user.is_department_head()): %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#history"><i class="la la-user mr-2"></i>History</a>
                    </li>
                    {% endif %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="information">
                        <div class="pt-4">
                            <h4>Presonal Information</h4>
                            <p>Name: {{staff.first_name + ' '+ staff.last_name}}</p>
                            <p>Age: {{staff.age()}}</p>
                        {% if not user.is_patient() %} 
                            <p>Phone Number: {{staff.phone_no}}</p>
                        {% endif %}
                            <p>Email: {{staff.email}}
                        </div>
                    </div>
                    {% if user.is_management_staff() and staff.is_medical_staff(): %}
                        <div class="tab-pane fade" id="history" role="tabpanel">
                            <div class="pt-4">
                                <h4>Appointment History</h4>
                            </div>
                            <div class="card-body">
                                <div id="accordion-one" class="accordion accordion-primary">                          
                                    {% for (appointment,hospital,department,usr,diagnoses,lab_results) in information: %}
                                        {% if appointment.appointment_date_time < today: %}
                                            <div class="accordion__item">
                                                <div class="accordion__header collapsed rounded-lg" data-toggle="collapse" data-target="#default_collapse{{loop.index}}">
                                                    <span class="accordion__header--text">Appointment {{appointment.appointment_date_time.day}}/{{appointment.appointment_date_time.month}}/{{appointment.appointment_date_time.year}}</span>
                                                    <span class="accordion__header--indicator"></span>
                                                </div>
                                                <div id="default_collapse{{loop.index}}" class="collapse accordion__body" data-parent="#accordion-one">
                                                    <div class="accordion__body--text">
                                                        <div class="pt-4">
                                                            {% if user.is_patient(): %}
                                                                <p>Doctor: {{usr.first_name + ' '+ usr.last_name}}</p>
                                                            {% elif user.is_medical_staff(): %}
                                                                <p>Patient: {{usr.first_name + ' '+ usr.last_name}}</p>
                                                            {% else: %}
                                                                <p>Doctor: {{staff.first_name + ' '+ staff.last_name}}</p>
                                                                <p>Patient: {{usr.first_name + ' '+ usr.last_name}}</p>                                                  
                                                            {% endif %}
                                                            <p>Hospital: {{hospital}}</p>
                                                            <p>Department: {{department}}</p>
                                                            {% set days = ("Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday") %}
                                                            <p>Appointment Day: {{days[appointment.appointment_date_time.weekday()]}}</p>
                                                            <p>Appointment Time: {{appointment.appointment_date_time.hour}}:{{appointment.appointment_date_time.minute}}</p>
                                                            <p>Diagnoses:
                                                                {% if not diagnoses: %}
                                                                No diagnoses
                                                                {% endif %}
                                                                {% for diagnosis in diagnoses: %}
                                                                    <a href="download/{{diagnosis.path}}" target="blank"><button class='btn btn-default'>Download{{loop.index}}</button></a>
                                                                {% endfor %}
                                                            </p>
                                                            <p>Lab Results: 
                                                                {% if not lab_results: %}
                                                                    No Lab Results
                                                                {% endif %}
                                                                {% for lab_result in lab_results: %}
                                                                    <a href="download/{{lab_result.path}}" target="blank"><button class='btn btn-default'>Download{{loop.index}}</button></a>
                                                                {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <p>No previous appointments</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script charset="utf-8" type="text/javascript">
        $(function() {
            var dropdown = {
                appointment_date: $('#appointment_date'),
                appointment_time: $('#appointment_time')
            };

            // function to call XHR and update appointment_time dropdown
            function update_appointment_time() {
                var appointment_date = dropdown.appointment_date.val();
                var medical_staff_id = document.getElementById('medical_staff_id').value
                dropdown.appointment_time.attr('disabled', 'disabled');

                if (appointment_date.length) {
                    dropdown.appointment_time.empty();
                    $.getJSON("{{ url_for('user_view.appointment_time_select_View') }}", {appointment_date: appointment_date, medical_staff_id: medical_staff_id}, function(data) {
                        data.forEach(function(item) {
                            if (item.id == -1)
                            {
                                alert("Plese don't select a weekend day")
                            }
                            dropdown.appointment_time.append(
                                $('<option>', {
                                    value: item.id,
                                    text: item.start
                                })
                            );
                        });
                        dropdown.appointment_time.removeAttr('disabled');
                    });
                }
            }

            // event listener to customer dropdown change
            dropdown.appointment_date.on('change', function() {
                update_appointment_time();
            });

        });
    </script>
{% endblock %}